*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html{
    scroll-behavior: smooth;
} */

body{
    background-color: lightgray;
}

/* nav styling start */
.nav-container{
    margin-top: 4%;
    padding-top: 16px;
    background-color: white;
}

.nav-container1{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    border-bottom: solid 1px lightgray ;
}

.nav-container1-monbile{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    border-bottom: solid 1px lightgray ;
    display: none;
}

.box-nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 25%;
    height: 100%;
    z-index: 1;
    background-color: white;
    display: none;
}
.top-nav-ling{
    list-style: none;
    margin-top: 30%;
}

.inner-top-ling{
    margin: 30px;
}

.fa-times{
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.fa-bars{
    cursor: pointer;
    font-size: 20px;
}

.top1-nav-link{
    margin: 10px;
    margin-top: 40%;
}

.app-div{
    margin: 8px;
}

.apps{
    width: 60%;
    cursor: pointer;
}

.top-navbtn{
    float: right;
    border: solid lightgray 1px;
    border-radius: 20px;
    margin-right: 20px;
    width: 30%;
    font-size: 20px;
    margin: 10px;
}

.btn-sign{
    border-radius: 20px;
    margin-right: 20px;
    width: 40%;
    font-size: 15px;
    margin: 10px;
    background-color: blue;
    color: white;
}


.fa-search{
    float: right;
}

.box-1{
    margin: 18px;
}
.box-2{
    height: 75px;
    padding: 10px;
}
.nav-text{
    margin-right: 10px;
}

.fa-envelope-open, .fa-folder-open{
    border: solid 1px lightgray;
    padding: 10px;
    border-radius: 50px;
    float: right;
    margin: 5px;
    font-size: 13px;
    cursor: pointer;
}

.btn-nav-follow{
    background-color: blue;
    color: white;
    text-transform: capitalize;
    border-radius: 30px;
    float: right;
    font-size: 13px;
    width: 8%;
    margin: 6px;
    border: none !important;
    outline: none !important;
}

.btn-nav-follow:hover{
    color: white;
    border: none !important;
    outline: none !important;
}

.nav-img{
    width: 40px;
    height: 45px;
    border-radius: 50px;
}

.nav-link{
    width: 20%;
    list-style: none;
}

.flex-con1{
    display: flex;
}

.item-2, .item-1{
    margin-left: 10px;
}

.profile-link{
    color: black;
}

.profile-link:hover{
    color: black;
}

/* main nav */
.nav-lo{
    color: white !important;
    font-weight: bolder;
    font-size: 30px;
}

.nav-link{
    color: rgb(18, 173, 166) !important;
    margin: 0px;
}

#logo-span{
    color: rgb(18, 173, 166) !important;
}

/* main styling start */
.banner{
    background: url("./imgaes/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding-bottom: 100px;
    background-color: black;
    /* overflow: hidden; */
}

.banner-box2{
    width: 100%;
    margin-right: 40px;
}

.banner-main-text{
    color: rgb(18, 173, 166);
    font-size: 12px;
}

.banner-main-header{
    color: white;
    font-size: 50px;
}

.banner-main-btn{
    border: solid 2px rgb(18, 173, 166);
    color: rgb(18, 173, 166);
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    background: none !important;
}

.banner-container{
    margin: 0 auto;
    width: 80%;
    padding-bottom: 30px !important;
    padding: 0px;
    padding-top: 20px;
}

.bannner-card{
    background-color: rgb(22, 21, 21);
    color: white;
    margin: 10px;
    width: 10% !important;
    font-size: 13px;
    margin-bottom: 50px;
}

.banner-group{
    margin-top: 60px;
    padding-bottom: 10px;
}

.unic{
    border: solid 2px rgb(33, 255, 244);
}

.fa-location-arrow, .fa-podcast, .fa-thermometer-half{
    color: rgb(18, 173, 166);
    font-size: 30px !important;
    margin-bottom: 40px;
    margin-top: 20px;
}

.banner-line{
    border-bottom: solid 2px rgb(18, 173, 166);
    width: 40px;
}

.vl {
    border-left: 2px solid rgb(18, 173, 166);
    height: 30px;
    margin: 0 auto;
    display: block;
    width: 10px;
  }

/* service stayling start */
.service-section{
    background-color:rgb(0, 0, 15); 
    padding-bottom: 30px;  
}

.service-card{
    background-color: rgb(22, 21, 21);
    color: white;
    margin: 10px;
    width: 10% !important;
    font-size: 13px;
    border-bottom: solid 2px white;
}

.service-card-container{
    width: 98%;
    margin: 0 auto;
    padding-bottom: 0px;
    font-size: 12px;
    padding: 0px;
    padding-top: 0px;
}

.service-group{
    padding-top: 60px;
}

.ser-head{
    border-bottom: solid 2px rgb(18, 173, 166);
    width: 6%;
    padding-top: 30px;
    margin-left: 10px;
}

.ser-para{
    color: rgb(18, 173, 166);
    text-transform: uppercase;
    line-height: 13px;
    margin-left: 10px;
    font-size: 10px;
}

.banner-til{
    font-size: 13px;
}

.card-text{
    font-size: 12px;
}

.change-color{
    background-color: rgb(18, 173, 166);
    color: black;
}

.ser-vl {
    border-left: 2px solid rgb(18, 173, 166);
    height: 30px;
    margin: 0 auto;
    display: block;
    width: 10px;
  }

/* work-styling start */
.work-image{
    width: 100%;
    height: 130%;
    margin:  0 auto;
    display: block;
}

.work-card-body{
    margin: 0;
    padding: 0;
}

.work-card{
    border: none;
}

#work-sec{
    background-color: rgb(27, 26, 26);
    padding: 5px;
    padding-bottom: 60px;
}

.work-head{
    border-bottom: solid 2px rgb(18, 173, 166);
    width: 12%;
    /* padding-top: 19px; */
}

.work-para{
    color: rgb(18, 173, 166);
    text-transform: uppercase;
    font-size: 10px;
}

.work-btn{
    color: rgb(18, 173, 166);
    border: solid 2px rgb(18, 173, 166);
    text-transform: uppercase;
    float: right;
    font-size: 10px;
    padding: 10px;
}

.work-btn:hover{
    color: rgb(18, 173, 166);
}

.work-fex{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.work-itme1, .work-itme2{
    width: 100%;
}

.work-w{
    margin-top: 50px;
    margin-bottom: 40px;
}

.work-group{
    margin-top: 50px;
    margin-bottom: 70px;
}

.work-vl {
    border-left: 2px solid rgb(18, 173, 166);
    height: 30px;
    margin: 0 auto;
    display: block;
    width: 10px;
    margin-top: 20px;
  }

  /* about stying start */
  #about-sec{
    background-color:rgb(0, 0, 15); 
  }
  .about-con{
    padding: 0px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    /* border: solid red; */
  }
  .about-col{
    margin: 0;
    padding: 0;
    margin: 0 auto !important;
    height: 12%;
  }

   .about-col-2{
    margin: 0;
    padding: 0; 
    margin: 0 auto !important;
    display: block;
    height: 64vh;
  }

  .about-image{
      width: 100% !important;
      height: 50%;
  }

.about-head {
    border-bottom: solid 2px rgb(18, 173, 166);
    width: 6%;
    padding-top: 30px;
}

.about-para{
    color: rgb(18, 173, 166);
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 30px;
}

.about-bottom-hearder{
    font-size: 18px;
    color: white;
}

.about-bottom-para{
    font-size: 12px;
    color: gray;
}

.about-bottom-col, .about-bottom-col-last{
    border-left: solid 2px rgb(18, 173, 166);
}

.about-vl {
    border-left: 2px solid rgb(18, 173, 166);
    height: 30px;
    margin: 0 auto;
    display: block;
    width: 10px;
    margin-top: 60px;
  }

  /* testimonials styling start */
  .test-card{
    background-color: rgb(22, 21, 21);
    color: white;
    margin: 10px;
    width: 10% !important;
    font-size: 13px;
    border-bottom: solid 2px white;
}



.fa-thumbs-up{
    color: rgb(18, 173, 166);
    font-size: 30px !important;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.star-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 12px;
    color: rgb(18, 173, 166);
    font-size: 9px;
}

.star-1, .star-2, .star-3, .star-4, .star-5{
    margin: 3px;
}

.testimonials-title{
    width: 80%;
}

.test-card{
    background-color:rgb(0, 0, 15); 
    border: solid 1px gray;
}

.test-text{
    font-size: 14px;
}

.testi-img{
    width: 40px;
    height: 45px;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
}

.test-img{
    position: relative;
    top: 60px;
}

#test-sec{
    background-color: rgb(22, 21, 21);
    padding-bottom: 0px;
}

.tes-head{
    border-bottom: solid 2px rgb(18, 173, 166);
    width: 6%;
    padding-top: 30px;
}

.tes-para{
    color: rgb(18, 173, 166);
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 0px;
}

.test-group{
    padding-top: 40px;
}

.test-name{
    text-align: center;
    font-size: 10px;
    margin-top: 9px;
}

.dot-flex{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    cursor: pointer;
}

.active-dot{
    background-color: rgb(18, 173, 166);
}

.dot{
    padding: 1px;
    border-radius: 50px;
    border: solid 1px rgb(18, 173, 166);
    margin: 3px;
    cursor: pointer;
}

/* news-styling start */
#news-sec{
    background-color:rgb(0, 0, 15);
    padding-bottom: 0px;
    box-shadow: 0px 0px 3px 3px black;
}
.card-tex{
    font-size: 12px;
    color: gray;
}

.news-header{
    padding-top: 40px;
    color: white;
}

.news-para{
    color: rgb(18, 173, 166);
    font-size: 10px;
    text-transform: uppercase;
}

.news-caed-body{
    padding: 10px;
    background-color:rgb(0, 0, 15);
}

.news-btn{
    border: solid 1px rgb(18, 173, 166);
    color: white;
    font-size: 12px;
}

.news-btn:hover{
    color: lightgray;
}

.news-vl {
    border-left: 2px solid rgb(18, 173, 166);
    height: 60px;
    margin: 0 auto;
    display: block;
    width: 10px;
    margin-top: 60px;
}

.fa-facebook, .fa-whatsapp, .fa-instagram, .fa-facebook, .fa-twitter{
    color: rgb(18, 173, 166);
    border: solid 1px rgb(18, 173, 166);
    font-size: 15px !important;
    padding: 4px;
    margin: 4px;;
    border-radius: 50px;
}

.social-icon{
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    padding: 6px;
}

.socail-header{
    color: white;
    font-size: 25px;
    line-height: 60px;
}

.footer-btn{
    color: rgb(18, 173, 166);
    border: solid 2px rgb(18, 173, 166);
    padding: 10px;
}

.footer-btn:hover{
    color: rgb(18, 173, 166);
}

.btnfooter{
    padding-top: 20px;
}

/* footer styling start */
.box-footer{
    width: 80%;
    padding-top: 88px;
    margin: 0 auto;
}

.footer-row{
    margin: 0 auto;
}

.footer-head{
    font-size: 14px;
    color: rgb(206, 206, 206);
}

.footerlink{
    list-style: none;
}

.footer-para{
    color: gray;
    font-size: 13px;
}

.footer-line{
    color: rgb(18, 173, 166) !important;
    border-bottom: solid 2px rgb(18, 173, 166);
    background-color: rgb( 18,173, 166);
    width: 10%;
}

.call{
    font-size: 10px !important;
    border: none !important;
}

.call-num{
    font-size: 10px;
    margin: 5px;
    color: gray;
}

.call-col{
    padding: 0px;
}

.last-footer-line{
    border: solid 1px gray;
}

.box-footer1{
    width: 80%;
    padding: 20px;
    margin: 0 auto;
}

.footer-info1{
    font-size: 10px;
}

.footer-info{
    font-size: 10px;
    color: rgb( 18,173, 166);
}

.last-footer-icon{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.cancel2{
    float: right;
}

.num-of-likes{
    font-size: 12px;
    color: rgb(233, 227, 227);
    font-family: 'Courier New', Courier, monospace;
}

.button-con{
    margin: 0 auto;
    width: 60%;
}

.rr{
    overflow: hidden;
    position: fixed;
    top: 35%; 
    right: 4%;
    width: 40%;
    height: 40%;
    padding: 10px;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    display: none;
}

.likes{
    overflow: hidden;
    position: fixed;
    top: 79%;
    right: 1%;
    z-index: 1;
    float: right !important;
    color: white;
    background-color: blue;
    font-size: 16px !important;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 3px;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20px;
}


/* converstion styling start */
.conversation-con{
    background-color: white;
    width: 85%;
    margin-top: 0px;
    border: solid 1px rgb(190, 187, 187);
    padding: 0;
    border-radius: 5px;
}

.conversation-info{
    border-bottom: solid 1px gray;
    padding: 0;
    margin: 0;
}

.conver-header{
    font-size: 29px;
}

.inner-conver-div{
    padding: 20px;
    margin: 10px;
}

.face{
    background-color: darkblue;
    color: white;
    display: inline;
    text-align: center;
    font-size: 20px !important;
    width: 30px !important;
    height: 30px !important;
    margin: 0 auto !important;
    display: block;
}

.apple-img, .google-img{
    width: 30px;
    border: solid 1px gray;
    padding: 7px;
    border-radius: 50px;
}


.apple-img:hover, .google-img:hover{
    background-color: rgb(224, 220, 220);
    transition: 0.5 all;
}

.face:hover{
    color: rgb(202, 197, 197);
}

.conver-btn{
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-size: 12px;
}

.conver-btn:hover{
    color: white;
}

.flex-conver{
    display: flex;
    margin: 25px;
}

.conver-2, .conver-1{
    margin-left: 13px;
}

.coner-span{
    font-size: 12px;
    color: lightgray;
    font-weight: normal;
}

/* contact styling start */
.flex-contact{
    display: flex;
    margin: 10px;
}

.contact-2{
    width: 100%;
}

.contact-2, .contact-1{
    margin-left: 13px;
}

.contact-head{
    font-size: 12px;
    margin: 10px;
    margin-left: 22px;
    color: gray;
    line-height: 30px;
}

.contact-para{
    margin: 10px;
    margin-left: 22px;
}

.contact-first-col{
    background-color: white;
    border: solid 1px rgb(190, 187, 187);
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50%;
}

.contact-second-col{
    background-color: white;
    border: solid 1px rgb(190, 187, 187);
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    left: 2px;
}

.inner-col-1{
    background-color: white;
    border: solid 1px rgb(190, 187, 187);
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 87vh;
    position: relative;
    bottom: 47px;
}

.contact-button-container{
    margin: 0 auto;
    margin: 13px;

}

.contact-button-follow{
    background-color: blue;
    width: 100%;
    color: white;
    border-radius: 23px;
    font-weight: bolder;
}

.contact-button-follow:hover{
    color: white;
}

.contact-button-hier{
    background-color: rgb(220, 220, 241);
    width: 100%;
    color: white;
    margin-top: 11px;
    border-radius: 23px;
    color: blue;
    font-weight: bolder;
    border: solid 1px lightgray;
}

.contact-button-hier:hover{
    color: blue;
}

.angency-para{
    font-size: 14px;
    margin: 10px;
    margin-left: 22px;
}

.angency-para2{
    margin: 10px;
    margin-left: 22px;
}

.contact-button-develop{
    background: url('./imgaes/news-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    color: white;
    font-weight: bolder;
    width: 100%;
    font-size: 20px;
    border-radius: 8px;
}

.contact-button-develop:hover{
    color: white;
}

.contact-button-imlemet{
    background: url('./imgaes/about-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    color: white;
    font-weight: bolder;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 8px;
}

.contact-button-imlemet:hover{
    color: white;
}

.contact-button-program{
    background: url('./imgaes/news-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    color: white;
    font-weight: bolder;
    width: 100%;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 10px;
}

.contact-button-program:hover{
    color: white;

}


@media(max-width: 540px){
    /* nav */
    .hambuger{
        color: white;
    }

    .nav-container1, .dsktop{
        display: none;
    }

    .navbar-mobile{
        display: block;
        border: solid red;
    }

    .nav-container{
        margin-top: 0px;
        padding-top: 10px;
        background-color: white;
    }
    

    .nav-container1-monbile{
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        background-color: white;
        border-bottom: solid 1px lightgray ;
        display: block;
    }

    .fa-envelope-open, .fa-folder-open{
        border: solid 1px lightgray;
        padding: 4px;
        border-radius: 50px;
        float: right;
        margin: 5px;
        margin-right: 2% !important;
        font-size: 13px !important;
        cursor: pointer;
    }

    .btn-nav-follow{
        float: right;
        font-size: 13px;
        width: 29%;
        margin: 2px;
        margin-right: 3% !important;
        border: none !important;
        outline: none !important;
    }

    .profile{
        font-size: 12px;
    }

    .nav-img{
        width: 26px;
        height: 28px;
        border-radius: 50px;
    }

    .navbarlink{
        color: rgb(18, 173, 166) !important;
        margin: 0px;
        text-align: center !important;
        /* margin: 0 auto; */
    }

    /* banner styling */
    .banner-container{
        margin: 0 auto;
        width: 100%;
        padding-bottom: 20px !important;
        padding: 0px;
        padding-top: 20px;
    }

    .banner{
        background: url("./imgaes/banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 174vh !important;
        margin: 0;
    }

    .banner-main-btn{
        font-size: 10px;
        margin: 0 auto;
        display: block;
        margin-top: 30px;
    }

    .bannner-card{
        margin: 0px;
        margin: 0 auto;
        width: 90% !important;
        font-size: 13px;
        margin-bottom: 30px;
    }

    .banner-main-text {
        text-align: center;
    }

    .banner-main-header{
        text-align: center;
        font-size: 30px;
    }

    /* service stayling start */
    
    .service-section{
        background-color:rgb(0, 0, 15); 
        padding-bottom: 30px;  
    }

.service-card{
    margin: 0px;
    margin: 0 auto;
    width: 95% !important;
    font-size: 13px;
    border-bottom: solid 2px white;
}

.service-card-container{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0px;
    font-size: 12px;
    padding: 0px;
    padding-top: 0px;
}

/* work-styling start */

#work-sec{
    background-color: rgb(27, 26, 26);
    padding: 0px;
    padding-bottom: 30px;
    padding-top: 20px;
    /* border: solid red; */
}

.work-image{
    width: 100%;
    height: 130%;
    margin:  0 auto;
    display: block;
}

.work-head{
    font-size: 30px;
}

.work-card-body{
    margin: 0;
    padding: 0;
}

.work-card{
    border: none;
    width: 90%;
    margin: 0 auto;
}

.work-fex{
    align-items: center;
    width: 100%;
}

/* about styling */

.about-head {
    border-bottom: solid 2px rgb(18, 173, 166);
    width: 6%;
    padding-top: 30px;
    font-size: 30px;
}

.kil{
    width: 100%;
}

  /* testimonials styling start */
  .test-card{
    background-color: rgb(22, 21, 21);
    color: white;
    margin: 0px;
    margin: 0 auto;
    margin-top: 60px;
    width: 90% !important;
}

.tes-head{
    border-bottom: solid 2px rgb(18, 173, 166);
    width: 6%;
    padding-top: 20px;
    font-size: 30px;
}

.testimonials-title{
    width: 100%;
}

.test-group{
    padding-top: 0px;
}

/* news styling */
#news-sec{
    background-color:rgb(0, 0, 15);
    padding-bottom: 0px;
    box-shadow: 0px 0px 0px 0px black;
}

.kik{
    margin-top: 30px !important;
}

/* converstion styling start */
.conversation-con{
    background-color: white;
    width: 100%;
}

/* contact styling start */
.flex-contact{
    display: flex;
    margin: 0px;
}

.contact-second-col{
    padding-bottom: 20px;
    position: relative;
    left: 0px;
}


.inner-col-1{
    width: 87vh;
    margin-bottom: 30px;
    position: relative;
    bottom: 47px;
    top: 2px;
}

.rr{
    overflow: hidden;
    position: fixed;
    top: 35%; 
    right: 4%;
    width: 93%;
    height: 40%;
    padding: 10px;
}


.button-con{
    margin: 0 auto;
    width: 100%;
}

}